*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  @apply font-fontPrimary;
  outline: none;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  @apply text-textPrimary;
}

// Slick slider
.news .slick-slide {
  padding: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: rgba(0, 131, 69, 1);
  font-size: 12px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: rgba(211, 210, 210, 1);
  opacity: 1;
}

.partners .slick-slide {
  padding: 0 10px;
}

.link-shadow {
  text-shadow: 4px 2px 15px rgba(0, 0, 0, 0.05);
}

.bg-hero {
  background: url('/public/images/hero-bg-1.png'), url('/public/images/hero-bg-2.png');
  background-position: right;
  background-repeat: no-repeat;
}

.bg-hero-intro {
  background: url('/public/images/hero-intro-bg-1.png'), url('/public/images/hero-intro-bg-2.png');
  background-position: right top -80px;
  background-repeat: no-repeat;
}

.bg-footer {
  background: url('/public/images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.info-bg {
  background: url('/public/images/info-bg-1.png'), url('/public/images/info-bg-2.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.orientation-bg {
  background: url('/public/images/orientation-bg.png');
  background-position: right;
  background-repeat: no-repeat;
}

.vision-bg {
  background: url('/public/images/vision-bg.png');
  background-position: right;
  background-repeat: no-repeat;
}

.icon-fill {
  fill: #fff;
  filter: drop-shadow(4px 2px 15px rgba(0, 0, 0, 0.05));
}

.titleShort {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.descShort {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.admin-table {
  th,
  td {
    height: 45px;
    padding: 0 10px;
    border: 1px solid #e3e5e8;
    border-collapse: collapse;
  }
}

.entry-content,
.entry-content .ql-snow .ql-editor {
  font-size: 16px;
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  figure {
    margin-bottom: 20px;
  }
  figure img {
    border-radius: 20px;
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 40px;
    margin-left: 0;
    li {
      margin-bottom: 10px;
    }
  }
  img {
    border-radius: 8px;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .bg-hero {
    background: none;
  }
  .bg-hero-intro {
    background: none;
  }
}

@media only screen and (max-width: 1028px) {
  .info-bg {
    background: none;
  }
}
