@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'San Francisco Display';
  src: url('/public/fonts/san-francisco-display/SFPRODISPLAYREGULAR.OTF'),
    url('/public/fonts/san-francisco-display/SFPRODISPLAYMEDIUM.OTF'),
    url('/public/fonts/san-francisco-display/SFPRODISPLAYBOLD.OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('/public/fonts/arial/ARIAL.TTF'), url('/public/fonts/arial/ARIALBD.TTF'),
    url('/public/fonts/arial/ARIALBI.TTF'), url('/public/fonts/arial/ArialMdm.ttf');
  font-weight: normal;
  font-style: normal;
}
